.services h1 {
    text-align: center;
    margin-top: 4rem;

}
.services-cards {
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content:space-evenly;
    margin: 5rem;
    
    

}
.services-cards h3 {
    text-align: center;
}

.card {
    justify-content: center;
    align-items: center;
    border-radius: 7%;
    /* margin: 10px; */
    /* width: 18rem; */
    background:white;
    padding: 1rem;
    /* display: flex; */
    border: none;
    /* flex-wrap: wrap; */
    --webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);


   }
.img {
    width: 100%;
}
.card-parent {
    display: flex;
    flex-wrap: wrap;
}
.card-parent :hover{
    scale: 1.05;
}
h3 :hover {
    transform: scale(-1.5);
}
