.portfolio h1 {
    text-align: center;
    margin-top: 4rem;

}
.portfolio-cards {
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content:space-evenly;
   
}
.portfolio-cards h3 {
    text-align: center;
}

.card {
    justify-content: center;
    align-items: center;
    align-self: normal;
    /* border-radius: 7%; */
    margin: 10px;
    width: 22rem;
    background:white;
    border:none;
    height: 100%;
    overflow: hidden;
    

   }

.card-parent .card:hover img {
    /* scale: 1.05; */
    transform: scale(1.3);
    /* opacity: 0.3; */
    background-color: black;


}
.img-container {
    overflow: hidden;
}

/* .item .item-wrap img {
    transition: 0.3s transform ease;
    transform: scale(1);
} */
.card-parent img {
    transition: 0.7s transform ease;
    
    
}
h3 :hover {
    /* transform: scale(-1.5); */
}
.img {
    width:100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    
  
   
}

