body {
    background-color: #f8f9fa;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0; */
}
.outer-parent{
    /* margin: -1rem; */
    background-color: #f8f9fa;

}
#nav{
    
}
.parent {
    /* background-image:url(../images/portfolio-header-back-1.jpg); */
    
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    opacity: 0.95;
    
    
    background: rgba(105,105,105,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(90,90,90,1) 14%, rgba(15,15,15,1) 86%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(105,105,105,1)), color-stop(14%, rgba(90,90,90,1)), color-stop(86%, rgba(15,15,15,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(90,90,90,1) 14%, rgba(15,15,15,1) 86%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(90,90,90,1) 14%, rgba(15,15,15,1) 86%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(90,90,90,1) 14%, rgba(15,15,15,1) 86%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(105,105,105,1) 0%, rgba(90,90,90,1) 14%, rgba(15,15,15,1) 86%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#000000', GradientType=1 );


    /* background: rgba(48,72,192,1);
background: -moz-linear-gradient(-55deg, rgba(48,72,192,1) 0%, rgba(4,16,51,1) 14%, rgba(4,6,42,1) 71%, rgba(68,7,74,1) 100%);
background: -webkit-gradient(left top, right bottom,right top, color-stop(0%, rgb(3, 14, 67)), color-stop(14%, rgba(4,16,51,1)), color-stop(71%, rgba(4,6,42,1)), color-stop(100%, rgba(68,7,74,1)), color-stop(0%, rgb(3, 14, 67)));
background: -webkit-linear-gradient(-55deg, rgba(15, 15, 15, 0.98) 36%, rgba(4,16,51,1) 14%, rgba(4,6,42,1) 71%, rgba(68,7,74,1) 100%);
background: -o-linear-gradient(-55deg, rgba(15, 15, 15, 0.98) 0%, rgba(4,16,51,1) 14%, rgba(4,6,42,1) 71%, rgba(68,7,74,1) 100%);
background: -ms-linear-gradient(-55deg, rgba(48,72,192,1) 0%, rgba(4,16,51,1) 14%, rgba(4,6,42,1) 71%, rgba(68,7,74,1) 100%);
background: linear-gradient(-45deg, rgba(15, 15, 15, 0.98) 36%, rgba(4,16,51,1) 14%, rgba(4,6,42,1) 71%, rgba(68,7,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3048c0', endColorstr='#44074a', GradientType=1 );
     */
    
    
    /* opacity:0.5; */

     /* background: rgba(0,51,128,1);
background: -moz-linear-gradient(-45deg, rgba(0,51,128,1) 0%, rgba(0,38,82,1) 0%, rgba(71,10,0,0.96) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,51,128,1)), color-stop(0%, rgba(0,38,82,1)), color-stop(100%, rgba(71,10,0,0.96)));
background: -webkit-linear-gradient(-45deg, rgba(0,51,128,1) 0%, rgba(0,38,82,1) 0%, rgba(71,10,0,0.96) 100%);
background: -o-linear-gradient(-45deg, rgba(0,51,128,1) 0%, rgba(0,38,82,1) 0%, rgba(71,10,0,0.96) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,51,128,1) 0%, rgba(0,38,82,1) 0%, rgba(71,10,0,0.96) 100%);
background: linear-gradient(135deg, rgba(0,51,128,1) 0%, rgba(0,38,82,1) 0%, rgba(71,10,0,0.96) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003380', endColorstr='#470a00', GradientType=1 ); */



}
.container-home {
    margin: "";

    /* -webkit-box-shadow: 1px 0px 7px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 7px -1px rgba(0,0,0,0.75);
box-shadow: 1px 0px 7px -1px rgba(0,0,0,0.75); */

    
}
.intro-row {
    /* display: flex; */
    height: 100%;
    text-align:center;
    flex-wrap: wrap;
    
    /* height: 100vh; */
}
.intro{
    /* margin-bottom: 30px; */
    /* align-content: center; */
    background-image:url(../images/portfolio-header-back-1.jpg);
    display: flex;
    /* background-blend-mode:hard-light; */
    align-items: center;
    justify-content: center;
    /* background-color:black; */
    flex-wrap: wrap;
    height: 92.7vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    
       
}
.intro-text ul {
    height: 100%;
    text-align:center;
    /* opacity: 0.1; */
    z-index: -1;
    overflow: hidden;
    /* background-color:rgb(41, 58, 188) ; */
    /* background: rgba(254,244,240,1);
background: -moz-linear-gradient(45deg, rgba(254,244,240,1) 0%, rgba(255,99,51,1) 44%, rgba(254,167,149,1) 71%, rgba(252,241,254,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(254, 244, 240, 0.12)), color-stop(44%, rgba(255,99,51,1)), color-stop(71%, rgba(254,167,149,1)), color-stop(100%, rgba(252,241,254,1)));
background: -webkit-linear-gradient(45deg, rgba(254,244,240,1) 0%, rgba(255,99,51,1) 44%, rgba(254,167,149,1) 71%, rgba(252,241,254,1) 100%);
background: -o-linear-gradient(45deg, rgba(254,244,240,1) 0%, rgba(255,99,51,1) 44%, rgba(254,167,149,1) 71%, rgba(252,241,254,1) 100%);
background: -ms-linear-gradient(45deg, rgba(254,244,240,1) 0%, rgba(255,99,51,0.8) 44%, rgba(254,167,149,1) 71%, rgba(252,241,254,1) 100%);
background: linear-gradient(0deg, rgba(219, 42, 19, 0.8) 0%, rgba(255,99,51,0.8) 24%, rgba(254,167,149,1) 86%, rgba(219, 42, 19, 0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef4f0', endColorstr='#fcf1fe', GradientType=1 ); */

  }
  
  ul li {
    float: left;
    margin-left: 3rem;
    color:black;
    
  }
.myimage {
    display: flex;
    margin-bottom:1.5rem;
   
    width: 130%;
    background-image: radial-gradient(rgb(204, 147, 147));
    border-radius: 20%;
    height: 80%;
    /* padding: 100px; */
    justify-items: left;
    align-content: left;
    border: none;
}
.myimage:hover {
    transform: scaleX(-1);
}
.myimagecol:hover{
    transform: matrix;

}
.itro-image-parent {
   
    display: flex;
    align-content: center;
    /* background-color:white; */
    /* height: 100vh; */
    width: 90%;
    /* border-radius: 50%; */
    /* padding: 10px; */
    
    
}

.myimagecol {
    padding-top: 5vw;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color: aliceblue; */
}
.intro-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;
    color: white;
    /* font-family:; */
    /* background-color: aliceblue; */
}
.intro-text h1{
    font-size: 2vw;
    color: black;
    }

.intro-text h3{
    font-size: 5vw;
    opacity: 0.95;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.intro-text h4{
    font-size: 3vw;
    opacity: 0.8;
    
    
    /* font: 3em sans-serif; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.blur-white{
    background-color: #f5f5f5;
}
.myname {
    color:goldenrod;
    /* font-family: ; */
}

.card-section{
    /* display: flex; */
    flex-wrap: wrap;
    color: rgb(43, 43, 227);
    justify-content:space-evenly;
}
Card {
    background-color: white;
    border: none;
}

.Footer text-muted {
    color: blueviolet;
}
.img1 {
    width: 80%;
 }
.biography-section{
    padding-top: 2rem;
    }
.icon {
    display:flex;
    text-align: center;
    justify-content: center;
}




