
.bio{
    display: flex;
    border: none;
    flex-wrap: wrap;
    --webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
.bio-info {
    --webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);

}
.bio-histo{
    display: flex;
    flex-wrap: wrap;
    
}

  


.bio Button{
    /* background-color: white; */
    color: white;
    font-weight: bolder;
    font-size: larger;
    /* margin-top: 3rem; */
    background: rgba(226,40,71,1);
background: -moz-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,40,71,1)), color-stop(100%, rgba(80,110,230,1)));
background: -webkit-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: -o-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: -ms-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: linear-gradient(0deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e22847', endColorstr='#506ee6', GradientType=1 );

}
.bio Button:hover{
    /* background-color: rgb(131, 230, 131); */
    font-weight:bolder;
    background: rgba(226,40,71,1);
background: -moz-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,40,71,1)), color-stop(100%, rgba(80,110,230,1)));
background: -webkit-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: -o-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: -ms-linear-gradient(45deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
background: linear-gradient(180deg, rgba(226,40,71,1) 0%, rgba(80,110,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e22847', endColorstr='#506ee6', GradientType=1 );
}
.dot{
    padding: 4px;
    background-color: white;
    /* background-color: black; */
    width: 2px;
    border-radius: 50%;
    align-items: center;
    display: absolute;
}
.line{
    padding: 0.5px;
    display: absolute;
    background-color: white;
    /* background-color: black; */
    width: 125%;
    /* justify-content: right; */
    /* margin-left: 10px; */
    border-radius: 50%;
    align-items: center;
    margin-top:-4.5px;

}
.bio-histo Col{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    /* background-color: red; */
    
}
.bio-histo p{
    /* border-right: groove; */
    margin: 5px;
}
.bio-fluid{
    /* background-color:white; */
    /* background-color: hsl(240, 100%, 30%); */
    background-color:#1DA1F2;
    
    
    
    color: white;
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;

    /* margin-top:5rem; */
    /* opacity: 0.8; */
}
.bio-fluid p{
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: larger;
}

.bio-soft-skills{
    font-style: italic;
    /* color:burlywood; */
    
}
.bio-skills{
    font-style: italic;
    color:black;
    /* color:burlywood; */
    /* font-size: larger; */
}
.bio-image-div {
    margin-left: 10px;
}
.bio-image {
    max-width: 100%;
    max-height: 14rem;
    margin-top: 1rem;
    background-color: #f7f7f7;
    /* background-color: rgb(0, 0, 0,0.17); */
}
















